<form action="/member/recharge/withdraw" method='post' >
<h1>提现莱特币</h1>
<a href="javascript:hideMenu();" title="关闭" class="float_del">关闭</a>
<div class="popupmenu_inner" style="padding:20px; width:400px;">
	<div id="__ajaxform">
	
		<div class="modal-body" style="padding:0px;">
			<div>
				可用余额：{$useramount}
			</div>
			<div>
				提现地址：<input type="text" name="address" style="width:280px;"/>
			</div>
			<div>
				提现金额：<input type="text" name="amount" style="width:280px;"/>
			</div>
				
		</div>
			
	
	</div>
</div>

<div class="modal-footer">
	<input type="submit" class="btn btn-primary submit" value="确定" onclick="hideMenu();"/>
</div>
</form>